body{
    margin:0;
    padding:0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=400");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

nav  {
    background-color:darksalmon;
    font-size: 30px;
    width: 100%;
    align-items: center ;
    display: flex;
    color: blue;
    text-shadow: 90%;
    justify-content: space-around;

}

nav li {
    display: inline-block;
    margin:  0 8px;
}

nav a{
    text-decoration: none;
}


.logo {
    font-size: 40px;
    font-weight: bolder;
 }

nav a:hover{
    color: black;
}

.menu-line {
    height: 3px;
    width: 20px;
    background-color: darkblue;
    margin-bottom: 3px;
}

.menu {
    cursor: pointer;
    display: none;
}

@media all and (max-width:640px) {
nav {
    flex-direction: column;
}
nav i{
    display: block;
    padding: 10px 0;
}
ul{
    text-align: center;
    padding: 0;
    display: none;
}

.logo{
    align-self: flex-start;
    margin: 10px 0px 0px 30px;
}
.showmenu{
    display: block;
}
.menu {
    display: block;
    position: absolute;
    right: 20px;
    top: 25px;
}
}